// Variable feature don't work
@font-face {
  font-weight: 125 950;
  font-style: normal;
  font-family: Figtree;
  src: url("../fonts/figtree-variablefont_wght-webfont.woff2")
    format("woff2-variations");
  font-display: swap;
}
