@use "../abstracts" as *;
@use "sass:math";

/* Global styles */

body {
  color: $clr-600-light;
  font-weight: $fw-medium;
  font-size: rem(16px);
  font-family: $ff-sans-primary;
  line-height: divide(24px, 16px); // Figma's auto
  background-color: $clr-schemes-background-light;
}

.l-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: clip;
  min-block-size: 100%;
}

.is-locked {
  overflow: hidden;
}

.l-container {
  max-inline-size: $frame;
  margin-inline: auto;
  padding-inline: $padding;
}

.l-flow {
  @include not-first-children {
    margin-block-start: rem(10px);
  }
}

/* Utility classes */

.u-hover-focus {
  @extend %u-hover-focus;
}

.u-text-gradient {
  // -webkit-fill-color: transparent;
  color: transparent;
  background-image: $clr-text-gradient;
  background-clip: text;
  background-size: 200%;
  animation: u-text-gradient-bg-move 4s linear infinite;

  @keyframes u-text-gradient-bg-move {
    50% {
      background-position: 100%;
    }
  }
}

.u-color-400 {
  color: $clr-400-light;
}

.u-text-center {
  text-align: center;
}

.u-text-start {
  text-align: start;
}

.u-full-height {
  block-size: 100%;
}

.u-sr-only {
  @extend %visually-hidden;
}

// Typography

.u-h1 {
  font-weight: $fw-bold;
  font-size: rsv-clamp(rem(40px), rem(64px));
  line-height: 1.2;

  @include media-width-from($medium) {
    line-height: divide(78, 64);
  }
}

/* Scope classes */

/* Temporary classes */

// ._main {
//   padding-block-start: 10rem;
// }
