@use "../abstracts" as *;
@use "sass:math";

/* Global styles */

body {
  color: $clr-grey-950;
  font-weight: 500;
  font-family: $ff-sans-primary;

  // line-height: divide(24px, 16px); // Figma's auto
  line-height: 1.5;
  background-color: $clr-yellow;
}

.l-wrapper {
  display: flex;
  flex-direction: column;
  overflow: clip;
  min-block-size: 100%;

  &__main {
    flex: auto;
  }
}

.l-container {
  max-inline-size: $frame;
  margin-inline: auto;
  padding-inline: $padding;
}

.display {
  display: grid;
  align-content: center;
  min-block-size: 100svb;
  padding-block: 2rem;

  // .display__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-200;
    justify-content: space-evenly;

    @include media-width-to($xx-small) {
      margin-inline: -$padding;
    }

    @include media-width-from($medium) {
      gap: $spacing-250;
    }
  }

  // .display__item

  &__item {
    flex: 0 rem(327px);

    @include media-width-from($medium) {
      flex: 0 rem(384px);
    }
  }
}

.l-flow {
  @include not-first-children {
    margin-block-start: rem(10px);
  }
}

/* Utility classes */
