@use "functions" as *;

// Default paddings
$padding: rem(16px);

// Frame - container with paddings
$container: rem(1240px);
$frame: $container + 2 * $padding;

// Material UI BP
$xs: 0;
$sm: em(600px);
$md: em(900px);
$lg: em(1200px);
$xl: em(1536px);

// Bootstrap BP
$tiny: em(320px);
$xx-small: em(375px);
$x-small: em(480px);
$small: em(576px);
$medium: em(768px);
$large: em(992px);
$x-large: em(1200px);
$xx-large: em(1400px);
$huge: em(1900px);

// Header
$bp-menu: em(768px);

// Font Families
$ff-sans-primary: figtree, sans-serif;

// Colors
$clr-grey-500: hsl(0deg 0% 42%);
$clr-grey-950: hsl(0deg 0% 7%);
$clr-yellow: hsl(45deg 87% 66%);
$clr-white: hsl(0deg 0% 100%);

// Sizes
$spacing-50: rem(4px);
$spacing-100: rem(8px);
$spacing-150: rem(12px);
$spacing-200: rem(24px);
$spacing-250: rem(32px);

// Font sizes
$fs-500: rem(24px);
$fs-400: rem(20px);
$fs-300: rem(16px);
$fs-200: rem(14px);
$fs-100: rem(12px);
