---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Frontend Mentor | Blog preview card">
  <script slot="scripts" is:inline src="./scripts/task-1.js"></script>
  <main class="l-wrapper__main">
    <div class="display">
      <div class="l-container">
        <div class="display__row">
          <div class="display__item">
            <Card />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
