@use "../abstracts" as *;

.c-button {
  $c-button-fs: 16px;

  display: inline-block;
  padding-inline: em(20px, $c-button-fs);
  padding-block: em(12px, $c-button-fs);
  border-radius: em(8px, $c-button-fs);
  color: $clr-50-light;
  font-weight: $fw-bold;
  font-size: rem($c-button-fs);
  line-height: divide(25px, $c-button-fs);
  text-align: center;
  background-color: $clr-material-theme-ref-key-colors-primary;
  transition: background-color 0.3s;

  @include media-width-to($x-small) {
    inline-size: 100%;
  }

  @include hover {
    background-color: $clr-material-theme-ref-primary-primary60;
  }

  &:active {
    background-color: $clr-material-theme-ref-primary-primary40;
  }

  &--ghost {
    color: $clr-600-light;
    background-color: hsl(240deg 7% 95%);
  }
}
