@use "../abstracts" as *;

.c-stars {
  display: flex;
  gap: rem(4px);
  font-size: rem(18px);

  // .rating__item

  &__item {
    flex: none;

    &.is-active,
    *:has(~ &.is-active) {
      color: hsl(36deg 100% 63%);
    }
  }
}
