@use "../abstracts" as *;

.features {
  padding-block: rem(57px);
  background-image: url("../img/noise.webp");

  @include media-width-from($medium) {
    padding-block: rem(85px);
  }

  // .features__inner

  &__inner {
    border-radius: rem(12px);
    background-color: white;

    @include media-width-from($medium) {
      padding-block: rem(14px);
    }
  }
}

.l-list-features {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;

  // .l-list-features__item

  &__item {
    flex: 0 rem(315px);
  }
}
