@use "../abstracts" as *;

.header {
  position: relative;
  background-color: $clr-material-theme-white;

  // .header--fixed

  &--fixed {
  }

  // .header__inner

  &__inner {
    display: flex;
    gap: rem(16px);
    justify-content: space-between;
    align-items: center;
    min-block-size: rem(75px);
    padding-block: rem(16px);
  }

  // .header__brand

  &__brand {
    flex: none;
  }

  // .header__burger

  &__burger {
    flex: none;

    @include media-width-from($bp-menu) {
      display: none;
    }
  }

  // .header__menu

  &__menu {
    display: flex;
    gap: rem(16px 49px);
    align-items: center;

    @include media-width-to($large) {
      gap: rem(16px 32px);
    }

    @include media-width-to($bp-menu) {
      position: absolute;
      inset-inline-end: 0;
      inset-block-start: 100%;
      flex-direction: column-reverse;
      justify-content: start;
      inline-size: min(100%, rem(375px));
      block-size: calc(100svb - 100%);
      padding-inline: $padding;
      padding-block: 2 * $padding;
      background-color: $clr-schemes-background-light;
      transition:
        transform 0.5s,
        visibility 0.5s;
    }

    &:not(.is-visible) {
      @include media-width-to($bp-menu) {
        visibility: hidden;
        transform: translateX(100%);
      }
    }
  }
}

.c-brand {
  // .c-brand__picture

  &__picture {
  }
}

.nav {
  // .nav__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8px 48px);
    justify-content: end;
    align-items: center;

    @include media-width-to($large) {
      gap: rem(8px 24px);
    }

    @include media-width-to($bp-menu) {
      flex-direction: column;
    }
  }

  // .nav__item

  &__item {
  }
}

.c-link {
  @extend %u-hover-focus;

  color: $clr-500-light;
  line-height: divide(25, 16);
  letter-spacing: 0.08px;
  text-align: center;

  @include media-width-to($bp-menu) {
    font-size: rem(24px);
  }

  // .c-link--stand-out

  &--stand-out {
    color: $clr-600-light;
    font-weight: $fw-bold;
  }
}

.app {
  display: flex;
  flex-wrap: wrap;
  gap: rem(8px 12px);
  justify-content: end;
  align-items: center;

  @include media-width-to($bp-menu) {
    justify-content: center;
  }

  // .app__item

  &__item {
    flex: none;
  }
}

.link-app {
  display: inline-block;
  transition: transform 0.3s;
  will-change: transform;

  @include hover-focus {
    transform: scale(1.05);
  }
}

.c-overlay {
  @include media-width-to($bp-menu) {
    background-color: gray;
    opacity: 0.8;
    transition:
      opacity 0.5s,
      visibility 0.5s;
  }

  &--fixed {
    @include media-width-to($bp-menu) {
      position: fixed;
      inset: 0;
    }
  }

  &:not(.is-visible) {
    @include media-width-to($bp-menu) {
      opacity: 0;
      visibility: hidden;
    }
  }
}
