@use "../abstracts" as *;

$hero-columns: $medium;

.hero {
  background-color: hsl(240deg 33% 99%);

  // .hero__container

  &__container {
    position: relative;
    isolation: isolate;
    padding-block: rem(49px 11px);
    background-color: hsl(240deg 33% 99%);

    @include media-width-from($hero-columns) {
      padding-block: rem(44px 13px);
    }
  }

  // .hero__inner

  &__inner {
    display: flex;
    gap: rem(44px 67px);

    @include media-width-from($hero-columns) {
      align-items: center;
    }

    @include media-width-to($hero-columns) {
      flex-wrap: wrap;
    }
  }

  // .hero__point

  &__point {
    flex: rem(600px);
  }

  // .hero__picture

  &__picture {
    flex: 0 rem(400px);
    margin-inline: auto;

    @include media-width-from($hero-columns) {
      flex: 0 rem(576px);
    }
  }

  // .hero__decoration

  &__decoration {
    position: absolute;
    inset-inline-start: $padding;
    inset-block-start: 0;
    z-index: -1;
    inline-size: min(100% - 2 * $padding, rem(466px));
  }
}

.c-point-hero {
  // .c-point-hero__title

  &__title {
    @include not-first {
      margin-block-start: rem(16px);
    }
  }

  // .c-point-hero__text-group

  &__text-group {
    font-weight: $fw-medium;
    line-height: divide(25, 16);

    @include media-width-to($medium) {
      letter-spacing: 0.08px;
    }

    @include media-width-from($medium) {
      font-size: rem(20px);
      line-height: divide(32, 20);
    }

    @include not-first {
      margin-block-start: rem(16px);

      @include media-width-from($medium) {
        margin-block-start: rem(24px);
      }
    }
  }

  // .c-point-hero__action

  &__action {
    @include not-first {
      margin-block-start: rem(24px);
    }
  }

  // .c-point-hero__reviews

  &__reviews {
    @include not-first {
      margin-block-start: rem(16px);
    }
  }
}

.l-action-hero {
  display: flex;
  flex-wrap: wrap;
  gap: rem(12px);
  align-items: center;

  // .l-action-hero__item

  &__item {
    @include media-width-to($x-small) {
      flex: 100%;
    }
  }
}

.c-reviews-hero {
  display: flex;
  flex-wrap: wrap;
  gap: rem(10px);
  align-items: center;

  @include media-width-to($x-small) {
    justify-content: center;
  }

  @include media-width-from($medium) {
    gap: rem(8px);
  }

  // .c-reviews-hero__rating

  &__rating {
  }

  // .c-reviews-hero__based

  &__based {
    @include font-14-m;
  }
}

.c-rating-reviews {
  display: flex;
  gap: rem(6px);
  align-items: center;

  @include media-width-from($medium) {
    gap: rem(8px);
  }

  // .c-rating-reviews__total

  &__total {
    @include font-14-m;
  }

  // .c-rating-reviews__stars

  &__stars {
    flex: none;
  }
}

.c-picture-hero {
  inline-size: 100%;
}

.l-decoration-hero {
  display: flex;
  justify-content: space-between;

  // .l-decoration-hero__item

  &__item {
    flex: 0 0 rem(50px);
    block-size: rem(173px);
  }
}

.c-lines {
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
  block-size: 100%;

  // .c-lines--reverse

  &--reverse {
    flex-direction: row-reverse;
  }

  // .c-lines__item

  &__item {
    inline-size: rem(1px);

    &:nth-child(odd) {
      background-color: $clr-material-theme-ref-key-colors-secondary;
    }

    &:nth-child(even) {
      background-color: $clr-material-theme-ref-key-colors-primary;
    }

    &:nth-child(2) {
      block-size: 90%;
    }

    &:nth-child(3) {
      block-size: 80%;
    }

    &:nth-child(4) {
      block-size: 60%;
    }
  }

  &--reverse &__item {
    &:nth-child(even) {
      background-color: $clr-material-theme-ref-key-colors-secondary;
    }

    &:nth-child(odd) {
      background-color: $clr-material-theme-ref-key-colors-primary;
    }
  }
}
